<!doctype html><html><body>
<h2>Credentials</h2>
<form method="post">
  <fieldset><legend>Standard user</legend>
    <label>User: <input name="user" value="{{ state.user }}"></label>
    <label>Password: <input type="password" name="password" value="{{ state.password }}"></label>
  </fieldset>
  <fieldset><legend>Super admin</legend>
    <label>User: <input name="admin_user" value="{{ state.admin_user }}"></label>
    <label>Password: <input type="password" name="admin_password" value="{{ state.admin_password }}"></label>
  </fieldset>
  <button type="submit">Save</button>
</form>
<p><a href="/">Back</a></p>
</body></html>
